.item-list-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #2c364c;
  height: 100%;
  padding: 2%;
  border-radius: 8px;
  margin: 10px;
  width: 100%;
}
.logo-cont {
  display: flex;
  align-items: center;
}
.comapany-logo {
  height: 70px;
  width: 70px;
  margin-right: 12px;
}
h1 {
  color: #ffffff;
  font-family: 'Roboto';
}
p {
  color: #ffffff;
  font-family: 'Roboto';
}
.title-designation {
  font-size: 20px;
}
.rating-num {
  font-size: 14px;
  margin-left: 10px;
}
.job-details-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.location-name {
  font-size: 14px;
  margin-right: 13px;
  margin-left: 6px;
}
.description-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}
.description-paragraph {
  font-size: 12px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.skill-list-conta {
  width: 30%;
  display: flex;
  align-items: center;
}
.skill-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
